* {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 216, 171);
    font-family: Arial, Helvetica, sans-serif
}

.homePageContainer, .campaignsContainer, .campaignDetailsContainer, .addNewCampaignForm {
    display: flex;
    flex-direction: column;   
}

.homePageContainer, .campaignsContainer {
    align-items: center;
}

.header {
    padding: 2em;
    text-align: center;
}

.addNewCampaignForm {
    padding: 3em;
    outline: 1px solid black;
    margin: 1em;
}

fieldset {
    padding: 1em;
}

dialog {
    align-self: center;
    justify-self: center;
    width: 20em;
    height: 20em;
}