* {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 216, 171);
    font-family: Arial, Helvetica, sans-serif
}

.homePageContainer, .campaignsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 2em;
    text-align: center;
}